{{- $section := "persons" }}
{{- $pages := partial "func/GetPagesFromTaxonomy" (dict 
  "section" $section
  "taxonomy" "persons_expertises"
  "slug" .File.TranslationBaseName
  "title" .Title) }}
{{- $pages = partial "func/GetPersonsOrderByStatutes" $pages }}

{{- if $pages }}
  <section class="expertise-persons">
    <div class="container">
      {{- $title := partial "func/PrepareHTML.html" .Title }}
      <h2>{{ i18n "expertises.discover_persons" (dict "Title" ($title | lower)) }}</h2>
      {{ partial (printf "%s/items" $section) $pages }}
    </div>
  </section>
{{- end }}
