{{- $section := "persons" }}
{{- $pages := partial "func/GetPagesFromTaxonomy" (dict 
  "section" $section
  "taxonomy" "persons_expertises"
  "slug" .File.TranslationBaseName
  "title" .Title) }}
{{- $pages = partial "func/GetPersonsOrderByStatutes" $pages }}

{{- if $pages }}
  <aside>
    {{- $title := partial "func/PrepareHTML.html" .Title }}
    <h2 class="h4">{{ i18n "expertises.discover_persons" (dict "Title" ($title | lower)) }}</h2>
    {{- range $pages }}
      {{- $expertise := partial "func/GetRealExpertise" . }}
      {{- with $expertise }}
          {{ partial "persons/item" . }}
      {{ end }}
    {{ end }}
  </aside>
{{- end }}
